*{
    margin: 5px;
    Padding: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(80, 101, 94);
    color: antiquewhite;
    
    
}
.nav {
    display: flex; 
    flex-wrap: wrap;
    list-style: none;
}

.nav a {
    padding: 8px 12px;
    color: antiquewhite;
}

.hero {
    margin-bottom: 0;
    background-image: url("primary-header-img1.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
    
}

.about {
 color: antiquewhite; 
 flex-wrap: wrap;  
 justify-content: space-between;
 

}

main {
    display: flex;
    flex-wrap: wrap;
    
}

 .card {
    color: antiquewhite;
    display: flex;
    padding: 10px;
    border-style: solid;
    border-width: 1px;  
   background-color: black;
   flex-direction: column;
 
}

.card2 {
    color: antiquewhite;
    background-color: black;
    display: flex;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  justify-content: space-evenly;
  flex-direction: column;

}


.card3 {
    color: antiquewhite;
    background-color: black;
    display: flex;
    padding: 10px;
    border-style: solid;
    border-width: 1px;  
    justify-content: space-evenly;
    flex-direction: column;
   
}
body, html {
    height: 100%;
    background-color: rgb(10, 47, 25);
    flex-wrap: wrap;
  }






