/* Style for Main Page */

* {
    margin: 5px;
    Padding: 0;
}


html {
    height: 100%;
    background-color: rgb(154, 152, 152);
    flex-wrap: wrap;
}

/* Style for header */
.hero {
    margin-bottom: 0;
    background-image: url("deskback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

}

/* To make images round/add border */

#me,#key_img, #cat_img, #write_img, #messy_img, #coffee_img {
    border-radius: 50%;
    border: 5px solid #ffffff;
  }


  /* Styling for Navbar */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(90, 103, 112);
    color: antiquewhite;
    font-family: Segoe Script;
    src: local("Segoe Script");



}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav a {
    padding: 8px 12px;
    color: antiquewhite;
}

.header {
    font-family: Segoe Script;
}


.about {
    color: antiquewhite;
    flex-wrap: wrap;
    justify-content: space-between;
   


}

/* Styling for Work Section/project cards */

main {
    display: flex;
    flex-wrap: wrap;
color:antiquewhite;
font-family: Segoe Script;
}


.card {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    justify-content: space-evenly;
    text-align: center;
    font-family: Segoe Script;
    background-color: black;
    flex-basis: calc(50%-1em);


}

 .card2{
        background-color: rgb(0, 0, 0);
        padding: 10px;
        border-style: solid;
        border-width: 1px;
        justify-content: space-evenly;
        text-align: center;
        font-family: Segoe Script;
        flex-basis: calc(50%-1em);
    }


    .card3 {
        background-color: black;
        padding: 10px;
        border-style: solid;
        border-width: 1px;
        justify-content: space-evenly;
        text-align: center;
        font-family: Segoe Script;
        flex-basis: calc(50%-1em);
    }


    /* Styling for contact */
    .contact {
        color: antiquewhite;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: Segoe Script;

    }


